<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <h1 class="garage-title"> <%= htmlWebpackPlugin.options.header %> </h1>
    <h3><%= htmlWebpackPlugin.options.description %></h3>

    <label for="color-picker">Select a new background color</label>
    <input id="color-picker" type="color" value="#2196F3">


    <input id="descricao-completa" type="text" value=""><button id="btnDescricao">Descrição</button>

  </body>
</html>